/* Container cho hình và nút */
.thumbnail-container {
  position: relative;
  width: 100px;
  height: 100px;
  border-radius: 10px;
  /*overflow: hidden;*/
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f5f5f5;
}

/* Hình ảnh */
.thumbnail-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Nút xóa */
.remove-btn {
  position: absolute;
  top: -5px;
  right: -5px;
  width: 20px;
  height: 20px;
  background-color: #ffffff;
  border: 1px solid #ccc;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.remove-btn:hover {
  background-color: #ff4d4f;
  border-color: #ff4d4f;
  color: white;
}

.remove-btn::before {
  content: '×'; /* Biểu tượng X */
  font-size: 14px;
  font-weight: bold;
  color: #000;
}

.remove-btn:hover::before {
  color: #fff;
}
