/*.wrap-input-tags {*/
/*  display: flex;*/
/*  justify-content: start;*/
/*  align-items: center;*/
/*  box-sizing: border-box;*/
/*  margin: 0;*/
/*  !*padding: 10px;*!*/
/*  color: rgba(0, 0, 0, 0.88);*/
/*  position: relative;*/
/*  width: 100%;*/
/*  min-width: 0;*/
/*  border-radius: 10px;*/
/*  transition: all 0.2s;*/
/*  background: #ffffff;*/
/*  border-width: 1px;*/
/*  border-style: solid;*/
/*  border-color: #d9d9d9;*/
/*  flex-wrap: wrap;*/
/*}*/

/*.wrap-input-tags:focus-within {*/
/*  border-color: #1890ff;*/
/*  box-shadow: 0 0 0 2px rgba(5, 175, 255, 0.1);*/
/*  outline: 0;*/
/*  background-color: #ffffff;*/
/*}*/

/*.wrap-input-tags .tag-ele {*/
/*  border: 1px solid transparent;*/
/*  border-radius: 5px;*/
/*  background: #DAEFFE;*/
/*  padding: 5px;*/
/*  margin-right: 5px;*/
/*}*/

/*.wrap-input-tags .input-ele {*/
/*  border: none;*/
/*  width: 150px;*/
/*}*/

/*.wrap-input-tags .input-ele:focus-within {*/
/*  box-shadow: none;*/
/*}*/
