.message-box {
  max-width: 80%;
  padding: 10px 10px;
  border-radius: 18px 18px 18px 0;
  position: relative;
  word-wrap: break-word;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  background-color: var(--bubble-color);
}

.sender {
  background-color: #ffffff;
}

.receiver {
  background-color: #5999ff;
}

.message-box::after {
  content: '';
  position: absolute;
  left: -8px;
  bottom: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 0 15px 15px;
  border-color: transparent transparent var(--bubble-color) transparent;
}
