.pin-message {
  padding: 5px 16px;
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #f0f2f5;
  z-index: 100;
  background-color: white;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

.pin-message .title {

}

.pin-message .content {
  font-weight: 600;
}
